<h1>Users</h1>
<table class="table" >
	<thead>
		<tr>
			<td>Username</td>
			<td>Email</td>
			<td>Password</td>
		</tr>
	</thead>
  <%= for user <- @users do %>
    <tr>
		<td><%= user.username %> </td>
		<td><%= user.email %> (<%= link “View”, to: user_path(@conn, :show, user) %>) </td>
		<td><%= user.password_hash %> </td>
    </tr>
  <% end %>
</table>