<h1>New user</h1>
<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class=”alert alert-danger”>
		<p>Oops, something went wrong</p>
	</div>
  <% end %>
  <div class="form-group">
    <%= text_input f, :username, placeholder: "Username", class: "form-control" %>
	<%= error_tag f, :username %>
  </div>
  <div class="form-group">
    <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
	<%= error_tag f, :email %>
  </div>
  <div class="form-group">
    <%= text_input f, :phone, placeholder: "Phone", class: "form-control" %>
	<%= error_tag f, :phone %>
  </div>
  <div class="form-group">
    <%= password_input f, :password_hash, placeholder: "Password", class: "form-control" %>
	<%= error_tag f, :password_hash %>
  </div>
  <%= submit "Create new user", class: "btn btn-primary" %>
<% end %>